# Use PHP 5.5
AddHandler application/x-httpd-php55 .php

RewriteEngine   On    # Turn on the rewriting engine

RewriteRule     ^do/([A-Za-z0-9-\.]+)/?$                                do.php?action=$1            [NC,L,QSA]  # Handle do
RewriteRule     ^do/([A-Za-z0-9-\.]+)/?index\.php$                      do.php?action=$1            [NC,L,QSA]  # Handle do

RewriteRule     ^([A-Za-z0-9\-]+)/?$                                    index.php?p=$1              [NC,L,QSA]  # Handle general page request
RewriteRule     ^([A-Za-z0-9\-]+)/?index\.php$                          index.php?p=$1              [NC,L,QSA]  # Handle general page request

RewriteRule     ^projects/([A-Za-z0-9-]+)/?$                            index.php?project=$1        [NC,L,QSA]  # Handle projects
RewriteRule     ^projects/([A-Za-z0-9-]+)/?index\.php$                  index.php?project=$1        [NC,L,QSA]  # Handle projects

RewriteRule     ^projects/([A-Za-z0-9-]+)/do/([A-Za-z0-9-\.]+)/?$       do.php?project=$1&action=$2 [NC,L,QSA]  # Handle project do
RewriteRule     ^projects/([A-Za-z0-9-]+)/do/?index\.php$               do.php?project=$1&action=$2 [NC,L,QSA]  # Handle project do

RewriteRule     ^projects/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$            index.php?project=$1&p=$2   [NC,L,QSA]  # Handle project page request
RewriteRule     ^projects/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?index\.php$  index.php?project=$1&p=$2   [NC,L,QSA]  # Handle project page request

RewriteRule     settings.json                                           index.php?project=error     [NC,L,QSA]  # Hide settings
RewriteRule     settings.([A-Za-z0-9-]+).json                           index.php?project=error     [NC,L,QSA]  # Hide settings

#AUTOGENERATED
RewriteCond %{HTTP_HOST} ^(www\.)?rpg\.local$
RewriteCond %{DOCUMENT_ROOT}/projects/SCP%{REQUEST_URI}   -f
RewriteRule ^.+[^.php]$ projects/SCP%{REQUEST_URI} [L]

RewriteCond %{HTTP_HOST} ^(www\.)?usl\.local$
RewriteCond %{DOCUMENT_ROOT}/projects/USL%{REQUEST_URI}   -f
RewriteRule ^.+[^.php]$ projects/USL%{REQUEST_URI} [L]

RewriteCond %{HTTP_HOST} ^(www\.)?enigma\.local$
RewriteCond %{DOCUMENT_ROOT}/projects/enigma%{REQUEST_URI}   -f
RewriteRule ^.+[^.php]$ projects/enigma%{REQUEST_URI} [L]
#AUTOGENERATED

# Fallback to checking the global static pool
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f
RewriteRule ^static/.+ static%{REQUEST_URI} [L]


<FilesMatch "\.(jpg|png|gif|css|ttf|woff|eot)$">
#Header set Cache-Control "max-age=600, must-revalidate"
</FilesMatch>